<div class="row">
    <div class="col-md-3" *ngFor="let item of usersData">
        <div class="box-user">
            <h5>Name - {{item.name}}</h5>
            <p>Email - {{item.email}}</p>
            <p>Phone: {{item.phone}} </p>
            <p>Website: {{item.website}}</p>
            <hr />
            <p><strong>Company Details: </strong><br /> Name: {{item.company.name}}<br /> Market BS: {{item.company.bs}}
            </p>
            <hr />
            <p><strong>Address: </strong><br />
                <small>
                    {{item.address.suite}}, {{item.address.street}}, {{item.address.city}}, {{item.address.zipcode}}
                </small></p>
            <hr />
            <a routerLink="/users/{{item.id}}">View Details</a>
        </div>
    </div>
</div>